.fz-16 {
    font-size: 1.6rem;
}

.fz-20 {
    font-size: 2rem;
}

.fz-24 {
    font-size: 2.4rem;
}

.bold {
    font-weight: bold;
}

.thin {
    font-weight: 300;
}

.italic {
    font-style: italic;
}

.text-color-primary {
    color: $primary;
}

.text-color-success {
    color: $success;
}

.text-color-danger {
    color: $danger;
}

.text-color-warning {
    color: $warning;
}

.text-color-dark {
    color: $dark;
}