.m10 {
    margin: 1rem;
}

.m20 {
    margin: 2rem;
}

.mt-10 {
    margin-top: 1rem;
}

.mr-10 {
    margin-right: 1rem;
}

.mb-10 {
    margin-bottom: 1rem;
}

.ml-10 {
    margin-left: 1rem;
}

.mt-20 {
    margin-top: 2rem;
}

.mr-20 {
    margin-right: 2rem;
}

.mb-20 {
    margin-bottom: 2rem;
}

.ml-20 {
    margin-left: 2rem;
}