.p10 {
    padding: 1rem;
}

.p20 {
    padding: 2rem;
}

.pt-10 {
    padding-top: 1rem;
}

.pr-10 {
    padding-right: 1rem;
}

.pb-10 {
    padding-bottom: 1rem;
}

.pl-10 {
    padding-left: 1rem;
}

.pt-20 {
    padding-top: 2rem;
}

.pr-20 {
    padding-right: 2rem;
}

.pb-20 {
    padding-bottom: 2rem;
}

.pl-20 {
    padding-left: 2rem;
}