.pageup {
    opacity: 0;
    width: 26px ;
    height: 26px;
    position: fixed;
    bottom: 100px;
    right: 5%;
    z-index: 30;
    background-color: #fff;
    cursor: pointer;
    border: 1px solid white;
    transition: 1s all;
}