html {
    font-size: 10px;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Remove outline on the forms and links */
:active, :hover, :focus {
    outline: 0 !important;
    outline-offset: 0 !important;
}

.container {
    max-width: 114rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}